body {
    font-family: Arial, Helvetica, sans-serif;
    background: #666666;
}

#content {
    width: 760px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

#new_products {
    float: right;
    width: 40%;
    margin-left: 2em;
}

#np_head {
    margin: 0;
    border-bottom: 1px dashed blue;
    font-size: 135%;
}

#headlines {
    margin: 0.2em 0 1em 0;
    padding: 0 0 0 1em;
}

#headlines li {
    margin: 0;
    padding: 0;
}

.center { text-align: center; }

.copyright {
    clear: both;
    color: silver;
    font-size: 67%;
    text-align: right;
}