#product_list {
    width: 100%;
    margin-bottom: 1em;
}

#product_list th {
    border-bottom: 2px solid black;
}

#product_list th img {
    cursor: pointer;
}

.product-code, .product-descr {
    text-align: left;
}

.product-price {
    text-align: right;
}

.product-code, .product-price {
    width: 6em;
}